<div class="container-cube">
  <div class="cube">
    <div class="front jewel-case">
      <div class="invisible-overlay">
        <i class = "front-play-track icon-play icon-4x">
        </i>
  			<%= image_tag album.front_cover_image, :class => "album-art" %>
      </div>
    </div>
    <div class="back">
      <div class="controls-div">
  			<i class = "next-track next-track_<%= @current_page %> icon-forward icon-4x">
  			</i>
        <i class = "play-track play-track_<%= @current_page %> icon-play icon-4x" data-description = "<%= album.description %>" data-title = "<%= album.title %>" data-artist="<%= album.artist_name %>" data-position = "0" data-tracks-array = "<%= album.tracks.order(:position).map(&:yt_id) %>" data-max-tracks = "<%= album.tracks.length %>" data-loaded = "false" data-playing = "false" id = "<%=album.tracks.order(:position).first.try(:yt_id) %>">
        </i>
  			<i class = "prev-track prev-track_<%= @current_page %> icon-backward icon-4x">
  			</i>
      </div>
    	  <%= image_tag album.back_cover_image.url, :class => "back-cover album-art" %>
    </div>
    <div class="right">3</div>
    <div class="left">
		<%= image_tag album.back_cover_image.url, :class => "side-cover" %>
	</div>
    <div class="top">5</div>
    <div class="bottom">6</div>
  </div>
</div>


