<!DOCTYPE html>
<html>
<head>
  <title>Albums</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Share+Tech+Mono' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Amatic+SC' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
	  <div class="navbar-inner">
		  <%= link_to "This is My Music", "/", :class => "brand" %>
	    <ul class="nav">
	      <li><%= button_to "Button!", new_album_path, :method => :get, :id => "secret_button", :class => "btn btn-info" %></li>
	    </ul>
      
      <div class="nav-controls span3">
  			<i class = "span4 prev-track-nav icon-backward icon-3x" >
  			</i>
        <i class = "span4 play-track-nav icon-play icon-3x" style="margin-left: 15px" data-description = "" data-title = "" data-artist="" data-position = "0" data-tracks-array = "" data-max-tracks = "" data-loaded = "false" data-playing = "false" id = "">
        </i>
  			<i class = "span4 next-track-nav icon-forward icon-3x">
  			</i>
      </div>

			<div class ="span3 lcd-div">
				<div class="lcd-type">
					<span id="lcd-position">00</span> <span id="lcd-minutes">00</span>:<span id="lcd-seconds">00</span>
				</div>
			</div>

	  </div>
	</div>

<%= yield %>

</body>
</html>
